<nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><font size = 5 face="Sail">IdeaStorage</font></a>
      </div>
  </div>
</nav>
<div class="container">
  <form class="form-signin" role="form">
    <h2 class="form-signin-heading">Sign in</h2>
    <div class="alert alert-danger" role="alert" id="alert" style="display: none">
      <span class="sr-only">Error:</span>
      Wrong credentials
    </div>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control" ng-model="inputEmail" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" ng-model="inputPassword" placeholder="Password" required>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="submit()">Sign in</button>
  </form>
</div>